<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-app="task">
<div class="container" style="margin-top: 30px" ng-controller="AppCtrl">
    <div class="input-group">
        <input type="search" placeholder="Search..." class="form-control" ng-model="input" my-enter="getQuestions()">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="getQuestions()">Click</button>
        </span>
    </div>
    <span class="error text-danger" ng-show="nothingFound && input.length > 0">Nothing found</span>
    <div class="row" ng-show="questions.length > 0">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Questions</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Who</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in questions" such-href="{{item.link}}"
                            ng-class="{activeClass: item.answer_count > 0}">
                            <td>{{item.creation_date}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.owner.display_name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<style type="text/css">
    .activeClass {
        font-weight: bold;
        text-decoration: underline;
        color: #66afe9;
    }
    input[type="search"]::-webkit-search-cancel-button {
        -webkit-appearance: searchfield-cancel-button;
    }
</style>
</body>
</html>